/* You can add global styles to this file, and also import other style files */
body.main-body{
    background: url("/assets/images/background_battlegrounds_1.jpg");

    position: fixed; 
    top: 0; 
    left: 0; 
    background-repeat: no-repeat;
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}